/* general body styles */
body {
  color: black;
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 15px;
}

/* general menu styles */
menu {
  color: black;
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* general h1 styles */
h1 {
  color: #E88137;
  text-align: center;
  font-family: "Faster One", sans-serif, "Times New Roman", Tahoma;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%; 
}

/* general h3 styles */
h3 {
  color: #000;
  text-align: center;
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%;
  margin-top: -60px;
}

/* general button styles */
button {
  background-color: #E88137;
  font-size: 27px;
  color: white;
  font-family: sans-serif, "Times New Roman", Tahoma;
  border: 0cm;
  border-radius: 9px;
  align-content: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}

/* spotify login button style - SPECIFIC */
.spotify-login {
  background-color: black;
  font-size: 20px;
}

/* general button hover styles */
button:hover {
  opacity: 85%;
  
}