/* standard light mode colors */
:root {
  --background-color: #fdfdfd;
  --primary-color: #E88137;
  --text-color: black;
  --secondary-color: #eee;
  --accent-color: #ddd;
  --hover-color: #ddd;
  --visited-color: #2b1897;
}

/* standard dark mode colors */
.dark-mode {
  --background-color: #2d2d2d;
  --primary-color: #E88137;
  --text-color: #efefef;
  --secondary-color: #000;
  --accent-color: #eee;
  --hover-color: #444;
  --visited-color: #E88137;
}

/* global styling */

/* general body styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 15px;
  padding-top: 60px;
}

/* h3 and h4 color, alignment, font family and line height */
h3, h4 {
  color: var(--text-color);
  text-align: center;
  font-family: sans-serif, "Times New Roman", Tahoma;
  line-height: 80%;
}

/* h3 specific sizing, spacing, and weights */
h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  margin-top: -60px;
}

/* h4 specific sizing, spacing, and decoration */
h4 {
  font-size: 30px;
  text-decoration: dotted;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* general button styles */
button {
  background-color: #E88137;
  font-size: 27px;
  color: white;
  font-family: sans-serif, "Times New Roman", Tahoma;
  border: 0cm;
  border-radius: 9px;
  align-content: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust spacing between buttons */
  margin-top: 20px; /* Adjust spacing from title */
}

/* general button hover styles */
button:hover {
  opacity: 85%;
}

/* header styling - color, alignment, positioning */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 20px;
  height: 60px;
}

/* styling the logo to keep it in the center at all times */
.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
}

/* general logo styling - color, weight, font, alignment */
.logo {
  font-style: italic;
  color: var(--primary-color);
  font-family: "Faster One", sans-serif, "Times New Roman", Tahoma;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
}

/* general nav styles - color, size, alignment, positioning in the header */
nav {
  color: var(--text-color);
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
  position: relative;
}

/* space nav bar and home button properly */
nav > *:not(.dropdown-content) {
  margin-right: 2px; 
}

/* general styling for dropdown menu */
.dropdown-menu {
  border: none;
  outline: none;
  color: var(--primary-color);
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
}

/* positioning the dropdown button */
.dropdown {
  position: relative;
  display: inline-block;
}

/* general styling for the dropdown content, setting up the default view (no dropdown content) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  top: 100%;
  left: 0;
  margin-top: 0px;
}

/* styling the dropdown content when active */
.dropdown-content a {
  color: var(--text-color);
  font-size: 18px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* styling the dropdown content when active and moused over */
.dropdown-content a:hover {
  background-color: var(--hover-color);
}

/* styling the dropdown content when active */
.dropdown-menu:hover + .dropdown-content {
  display: block;
}

/* display dropdown on hover */
.dropdown:hover .dropdown-content,
.dropdown-menu:hover + .dropdown-content {
  display: block;
}

/* general styles for the home button */
.home-btn {
  text-decoration: none;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 20px;
  font-family: sans-serif, "Times New Roman", Tahoma;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

/* decrease opacity when the home button is hovered over */
.home-btn:hover {
  opacity: 80%;
}


/* styling for the dark mode toggle */
#dark-mode {
  font-size: 10px;
  border-radius: 50%;
  width: 30px;    
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  color: var(--text-color);
}

#dark-mode p {
  color: var(--secondary-color)
}

/* toggle icon styles */
.icon-sun {
  display: none;
  fill: var(--accent-color);
}

.icon-moon {
  fill: var(--secondary-color);
}

.dark-mode .icon-moon {
  display: none;
}

.dark-mode .icon-sun {
  display: inline;
  
}

/* styling for the search section - set up flex box and align all items */
#search-tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}

/* style the seach and filter containers with flex, making sure they're centered and aligned with the page */
#search-container,
#filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

/* styling for the search input - add flex, give a border color, set the max and min widths */
#search-input {
  flex: 1 1 300px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  box-sizing: border-box;
  max-width: 750px;
  min-width: 0;
}

/* add border when search bar is clicked */
#search-input:focus {
  border-color: #E88137;
}

/* set placeholder text color */
#search-input::placeholder {
  color: #888;
}

/* font size and starting position for the search bar */
#search {
  font-size: 18px;
  margin-left: 10px;
}

/* dropdown bpm/song name and genre select buttons style */
#search-type, 
#genre-select {
  display: flex;
  padding: 2px 2px;
  border: 2px solid #E88137;
  border-radius: 8px;
  background-color: #f8f9fa;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1px;
  align-items: center;
}

/* search input style */
input {
  width: 1055px;
  height: 45px;
  margin-left: 45px;
  border-radius: 245px;
  stroke-width: 3px;
  stroke: #000;
  font-size: 19px;
}

/* styling the song cards - aligning to the center, changing fonts and their weights, changing text alignment for the bpm */
.recommended-songs {
  text-align: center;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

.song-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b5aec4;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 900px;
}

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.song-info h2 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.song-info p {
  font-size: 16px;
  margin: 5px 0 0;
}

.song-bpm {
  text-align: right;
}

.song-bpm p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/* changing background and text color for song cards in dark mode */
.dark-mode .song-card,
.dark-mode .message p {
  color: var(--text-color);
  background-color: var(--primary-color);
}

/* styling the idea page cards */
.message {
  text-align: center;
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 22px;
  padding-left: 150px;
  padding-right: 150px;
}

.message p {
  font-size: 20px;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #b5aec4;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
}

/* default link styling for the idea page */
.message a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.message a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

/* link hover */
.message a:hover {
  color: var(--visited-color);
  text-decoration: underline;
}

/* active link */
.message a:active {
  color: var(--hover-color);
  text-decoration: underline;
}

/* visited link */
.message a:visited {
  color: var(--visited-color);
}

/* styling the meet the team page information */
.text {
  color:var(--visited-color);
  font-family: sans-serif, "Times New Roman", Tahoma;
  padding-left: 20px;
  font-size: 35px;
}

.about {
  display: flex;
  color: var(--text-color);
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 18px;
}

/* creating flex boxes and centering content on the team page */
.meet-the-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto; /* horizontal center */
  text-align: left;
  max-width: 1000px;
  padding: 10px;
  text-decoration: none;
}

/* setting up team's pictures */
.temp_pic {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}

/* social icon spacing */
.icons {
  display: flex;
  gap: 12px;
  align-items: left;
  justify-content: left;
  margin-top: 5px;
}

/* create flexes for active icons */
.icons a {
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
}

/* change color of icons */
.icon {
  fill: var(--visited-color);
  cursor: pointer;
}

/* change color of icons on hover */
.icon:hover {
  fill: var(--hover-color);
}

/* footer styling */
footer {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 60%;
  padding: 10px 0;
}
