:root { /*standard-light mode */
  --background-color: #fdfdfd;
  --primary-color: #E88137;
  --text-color: black;
  --secondary-color: #eee;
  --accent-color: #ddd;
  --hover-color: #ddd;
}

.dark-mode {
  --background-color: #2d2d2d;
  --primary-color: #E88137;
  --text-color: #efefef;
  --secondary-color: #000;
  --accent-color: #eee;
  --hover-color: #444;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 20px;
  height: 60px;
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
}

.logo {
  font-style: italic;
  color: var(--primary-color);
  font-family: "Faster One", sans-serif, "Times New Roman", Tahoma;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
}

/* icon styles */
.icon-sun {
  display: none;
  fill: var(--accent-color);
}

.icon-moon {
  fill: var(--secondary-color);
}

.dark-mode .icon-moon {
  display: none;
}

.dark-mode .icon-sun {
  display: inline;
  
}

#dark-mode {
  font-size: 10px;
  border-radius: 50%;
  width: 30px;    
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  color: var(--text-color);
}

#dark-mode p {
  color: var(--secondary-color)
}

/* general body styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 15px;
  padding-top: 60px;
}

/* general menu styles */
nav {
  color: var(--text-color);
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
  position: relative;
}

.home-btn {
  text-decoration: none;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 20px;
  font-family: sans-serif, "Times New Roman", Tahoma;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

.home-btn:hover {
  opacity: 80%;
}

.dropdown-menu {
  border: none;
  outline: none;
  color: var(--primary-color);
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
}

nav > *:not(.dropdown-content) {
  margin-right: 2px; 
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  top: 100%;
  left: 0;
  margin-top: 0px;
}

.dropdown-content a {
  color: var(--text-color);
  font-size: 18px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--hover-color);
}

.dropdown-menu:hover + .dropdown-content {
  display: block;
}

nav > .dropdown-menu:hover + .dropdown-content {
  display: block;
}

.home-btn:hover {
  opacity: 80%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* general h3 styles */
h3 {
  color: #000;
  text-align: center;
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%;
  margin-top: -60px;
}

h4 {
  color: black;
  text-align: center;
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 30px;
  text-decoration: dotted;
  line-height: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.recommended-songs {
  text-align: center;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

.song-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b5aec4;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 900px;
}

/* changing background and text color for song cards in dark mode */
.dark-mode .song-card {
  color: #c9c9c9;
  background-color: #2f195e;
}

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.song-info h2 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.song-info p {
  font-size: 16px;
  margin: 5px 0 0;
}

.song-bpm {
  text-align: right;
}

.song-bpm p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

#search-tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}

#search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

#search-input {
  flex: 1 1 300px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  max-width: 750px;
  min-width: 0;
}

#search-input:focus {
  border-color: #E88137; /* Green border on focus */
}

#search-input::placeholder {
  color: #888;
}

#search {
  font-size: 18px;
  margin-left: 10px;
}

#filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

/* dropdown button style */
#search-type, #genre-select {
  display: flex;
  padding: 2px 2px;
  border: 2px solid #E88137;
  border-radius: 8px;
  background-color: #f8f9fa;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1px;
  align-items: center;
}

.message {
  text-align: center;
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 22px;
  padding-left: 150px;
  padding-right: 150px;
}

.text {
  color:#2b1897;
  font-family: sans-serif, "Times New Roman", Tahoma;
  padding-left: 20px;
  font-size: 35px;
}

.about {
  display: flex;
  color: #464343;
  font-family: sans-serif, "Times New Roman", Tahoma;
  font-size: 18px;
}

/* general button styles */
button {
  background-color: #E88137;
  font-size: 27px;
  color: white;
  font-family: sans-serif, "Times New Roman", Tahoma;
  border: 0cm;
  border-radius: 9px;
  align-content: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust spacing between buttons */
  margin-top: 20px; /* Adjust spacing from title */
}

/* general button hover styles */
button:hover {
  opacity: 85%;
}

.temp_pic {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}

/* search input style */
input {
  width: 1055px;
  height: 45px;
  margin-left: 45px;
  border-radius: 245px;
  stroke-width: 3px;
  stroke: #000;
  font-size: 19px;
}

.message p {
  font-size: 20px;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #b5aec4;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
}

footer {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 60%;
  padding: 10px 0;
}
